---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

labels:
  - pairs:
      env: production

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: todo-app
      spec:
        replicas: 3
  - patch: |-
      apiVersion: route.openshift.io/v1
      kind: Route
      metadata:
        name: todo-app
      spec:
        tls:
          termination: edge
